:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.logo-head,
.logo-foot {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-head-studio {
  color: var(--navy-blue);
}

.logo-foot-studio {
  color: var(--cloud);
}

.logo-head-studio:hover,
.logo-head-studio:focus  {
  color: var(--iris);
}

.footer a {
  color: var(--iris);
}

/* .nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;

  width: 261px;
  height: 24px;
} */

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue)
}

/* header ul:hover,
header ul:focus {
  color: var(--ocean);
} */

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.address-link {
  color: var(--slate);
}

/* .address-link:hover,
.address-link:active {
    color: var(--ocean)
} */

.head-section-h {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.head-section {
  background-color: var(--navy-blue);
}

.head-section-button {
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px; */

  /* border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px; */

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  cursor: pointer;
}

.head-section-button:hover,
.head-section-button:focus {
  background-color: var(--ocean);
}

/* main button:hover,
main button:focus {
  color: var(--ocean);
} */

a:hover,
a:focus {
  color: var(--iris);
}

.head-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.head-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.cl-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-section {
    background-color: var(--cloud);
}

.team-list .head-three,
.team-list .cl-p  {
  text-align: center;
}


.team-member {
    background-color: var(--white);
}


.footer {
  background-color: var(--navy-blue);
}


.footer .cl-p  {
  color: var(--cloud);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
